
# Created by https://www.toptal.com/developers/gitignore/api/jupyternotbooks
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotbooks

#!! ERROR: jupyternotbooks is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/jupyternotbooks
